.recipes {
}

strong {
  a {
    color: #333;
  }
  a:hover {
    color: #333;
  }
}

.recipe {
  border-radius: 10px;
  padding-bottom: 7px;

  .cover {
    img {
      border-radius: 2px;
      width: 100%;
    }
  }
  .contents {
    margin: 10px 10px;
  }
}
